name: build

on:
  push:
    branches:
      - master

jobs:
  publish:
    if: ${{ github.repository_owner == 'liachmodded' }}
    runs-on: ubuntu-latest
    container:
      image: openjdk:17-jdk
      options: --user root

    steps:
      - uses: actions/checkout@v2
      - uses: gradle/wrapper-validation-action@v1
      - name: Generate build number
        id: buildnumber
        uses: einaregilsson/build-number@v3
        with:
          token: ${{ secrets.github_token }}
          prefix: ${{ github.ref }}

      - run: ./gradlew build publish -S
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_TOKEN: ${{ github.token }}
